<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="motoman_hc20_sim">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import motoman_hc20 urdf file -->
    <xacro:include filename="$(find hc20_sim_moveit_config)/urdf/hc20_sim.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="motoman_hc20_sim.ros2_control.xacro" />


    <xacro:motoman_hc20_sim_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>


</robot>
